#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  flex-grow: 1;
}

button {
  flex-shrink: 0;
}

.results {
  background-color: #1a1a1a; /* 黑色背景 */
  color: white;  /* 白色字体 */
  padding: 20px;
  border-radius: 8px;
  font-family: monospace;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

